<!Doctype html>
<html>

<head>
 <link href = "/assests/styles.css" rel="stylesheet" type="text/css"/>


</head>
<body>
    <% include partials/nav.ejs %>
   <h1> Contact us </h1>
   <p> Thank you for contact . </p>

<p>You contacted with <%= data.who%> in the <%= data.department%> .   </p>
<p> We will reply in your email <%= data.email%> </p>



</body>

</html>
