<!Doctype html>
<html>

<head>

 <link href = "/assests/styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <% include partials/nav.ejs %> 
   <h1> Welcome to Piash's Website </h1>
   <p> I am trying to learn Node.js . By running a node.js with package
   Nodemon , It's changes instantly . </p>

</body>

</html>
